---
import { ICONS } from "../../icons/icons";
const { skills } = Astro.props;
---

<ul class="flex flex-wrap gap-2 print:hidden" aria-label="Technologies used">
  {
    skills &&
      skills.map((skill: string) => {
        const iconName = skill === "Next.js" ? "Next" : skill;
        const Icon = ICONS[iconName];
        return (
          <li class="flex items-center gap-1 rounded-md border border-solid border-skin-hue/20 bg-skin-button-accent/20 px-2 py-0.5 text-xs text-skin-hue print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
            {Icon && <Icon />} <span>{skill}</span>
          </li>
        );
      })
  }
</ul>
